* {
    margin: 0px;
    height: 100%;
    width: 100%;
}

* #contenedor {  
    background: black;
}
* #cabecera {
    background: blue;
    height: 7%;
}
* #menu {
    float: left;
    width: 15%;
    height: 85%;
    background: cadetblue;
}
* #contenido {
    float: left;
    width: 85%;
    height: 85%;
    background: chartreuse;
}
* #pie {
    height: 10%;
    clear: both;
    background: crimson;
} 


#menu #fotoAdmin {
    margin: 5%;
    background: darkgrey;
    width: 90%;
    height: 20%;
}

#menu #margen {
    margin: 5%;
    width: 90%;
    height: auto;
    text-align: center;
    
}


#contenido #margenCF1 {
    margin: 25px;
    margin-bottom: 20px;
    width: 400px;
    height: 425px;
    text-align: center;
    margin-left: 150px;
    
}

#margenCF1 .formulario{
    width: 100px;
    height: 400px;
}

.formulario .controles{
    width: 150px;
    height: 20px;
}

.formulario .botones{
    width: 150px;
    height: 20px;
}



#contenido #margenCF2 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}

#margenCF2 .formulario2{
    width: 100px;
    height: 400px;
}

.formulario2 .controles2{
    width: 150px;
    height: 20px;
}

.formulario2 .botones2{
    width: 150px;
    height: 20px;
}




#contenido #margenCF3 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}

#margenCF3 .formulario3{
    width: 100px;
    height: 400px;
}

.formulario3 .controles3{
    width: 150px;
    height: 20px;
}

.formulario3 .botones3{
    width: 150px;
    height: 20px;
}




#contenido #margenCF4 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}

#margenCF4 .formulario4{
    width: 100px;
    height: 400px;
}

.formulario4 .controles4{
    width: 150px;
    height: 20px;
}

.formulario4 .botones4{
    width: 150px;
    height: 20px;
}







#contenido #margenCF5 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}
#margenCF5 .formulario5{
    width: 100px;
    height: 400px;
}

.formulario5 .controles5{
    width: 150px;
    height: 20px;
}

.formulario5 .botones5{
    width: 150px;
    height: 20px;
}




#contenido #margenCF6 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}
#contenido #margenCF7 {
    margin: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
}

#margenCF7 .formulario7{
    width: 100px;
    height: 400px;
}

.formulario7 .controles7{
    width: 150px;
    height: 20px;
}

.formulario7 .botones7{
    width: 150px;
    height: 20px;
}




